<kendo-grid [style.height]="'100%'" 
            [data]="view | async" 
            [loading]="view.loading" 
            [pageSize]="state.take" 
            [selectable]="selectableSettings"
            [skip]="state.skip" 
            [sort]="state.sort" 
            [sortable]="true" 
            [pageable]="pageableSettings" 
            [scrollable]="'none'" 
            (dataStateChange)="dataStateChange($event)"
            (selectionChange)="onSelectionChange($event)">

  <ng-template kendoGridToolbarTemplate position="top">
    <div class="pkg-manager-grid__action-container">
      <button (click)="addOrder()" class="pkg-manager-grid__action">
        <i class="ndd-font ndd-font-create pkg-manager-grid__action__icon"></i>
        <span class="pkg-manager-grid__action__description">Novo Pedido</span>
      </button>
      <button (click)="deleteOrder()" class="pkg-manager-grid__action" [disabled]="!selectedRows.length">
        <i class="ndd-font ndd-font-delete pkg-manager-grid__action__icon"></i>
        <span class="pkg-manager-grid__action__description">Remover</span>
      </button>
      <button (click)="redirectOpenOrder()" class="pkg-manager-grid__action" [disabled]="selectedRows.length != 1">
        <i class="ndd-font ndd-font-open pkg-manager-grid__action__icon"></i>
        <span class="pkg-manager-grid__action__description">Abrir Pedido</span>
      </button>
    </div>
  </ng-template>

  <kendo-grid-checkbox-column width="40"></kendo-grid-checkbox-column>
  <kendo-grid-column field="id" title="ID" width="75"></kendo-grid-column>
  <kendo-grid-column field="customer" title="Cliente" width="200"></kendo-grid-column>
  <kendo-grid-column field="quantity" title="Quantidade" width="100"></kendo-grid-column>
  <kendo-grid-column field="productName" title="Produto" width="100"></kendo-grid-column>
</kendo-grid>