<div class="feature-view">
    <ndd-ng-titlebar titlebarIcon="ndd-font ndd-font-barcode" 
    [titlebarTitle]="title" [titlebarInfoItems]="infoItems" 
    [titlebarRouterToReturnOnClose]="returnRoute">
    </ndd-ng-titlebar>
    <ndd-ng-tabsbar>
        <ndd-ng-tab tabId="ndd-ng-tab-invoice-info" 
        [tabRoute]="'./info'" tabTitle="Informações da Nota Fiscal"></ndd-ng-tab>
    <ndd-ng-tab tabId="ndd-ng-tab-invoice-products" [tabRoute]="'./item'" tabTitle="Produtos"></ndd-ng-tab>
    </ndd-ng-tabsbar>
    <div class="feature-view-tab">
        <router-outlet></router-outlet>
    </div>
</div>