<div class="feature-view-tab__content">
    <div class="row">
        <!-- #region Coluna 1 -->
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <span class="feature-view__title">Informações da Nota</span>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4 feature-view__body">
                            <div>
                                <span class="feature-view__label">Data de entrada</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ invoice?.entryDate }}" class="feature-view__value">
                                    {{ invoice?.entryDate | date:'dd/MM/yyyy hh:mm' }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 feature-view__body">
                            <div>
                                <span class="feature-view__label">Natureza da operação</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ invoice?.natureOperation }}" class="feature-view__value">
                                    {{ invoice?.natureOperation }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 feature-view__body">
                            <div>
                                <span class="feature-view__label">Valor do frete</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ invoice?.valueFreight }}" class="feature-view__value">
                                    {{ invoice?.valueFreight }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4 feature-view__body">
                            <div>
                                <span class="feature-view__label">Emitente</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ invoice?.emitter.companyName }}" class="feature-view__value">
                                    {{ invoice?.emitter.companyName }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 feature-view__body">
                            <div>
                                <span class="feature-view__label">Transportado</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ invoice?.conveyor.nameCompanyName }}" class="feature-view__value">
                                    {{ invoice?.conveyor.nameCompanyName }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 feature-view__body">
                            <div>
                                <span class="feature-view__label">Recebidor</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ invoice?.receiver.nameCompanyName }}" class="feature-view__value">
                                    {{ invoice?.receiver.nameCompanyName }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->
</div>
<div class="feature-view-tab__footer">
    <button class="ndd-ng-button ndd-ng-button--primary" (click)="onEdit()">Editar</button>
    <button class="ndd-ng-button ndd-ng-button--cancel" (click)="redirect()">Voltar</button>
</div>
<div class="ndd-ng-spinner__spinner" *ngIf="isLoading"></div>
<div class="ndd-ng-spinner__color" *ngIf="isLoading"></div>