<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionStringName" value="ProvaFloriani" />
    <add key="DataProvider" value="System.Data.SqlClient" />
  </appSettings>

  <connectionStrings>
    <add name="ProvaFloriani" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DBFlorianiProva;Integrated Security=True;Pooling=False" />
  </connectionStrings>
</configuration>