<div class="grid-wrapper">
    <kendo-grid [style.height]="'100%'" [data]="view | async" [loading]="view.loading" [pageSize]="state.take" [skip]="state.skip"
        [sort]="state.sort" [sortable]="true" [selectable]="true" [pageable]="true" [scrollable]="'none'"
        (dataStateChange)="dataStateChange($event)" (selectionChange)="onSelectionChange($event)">
        <ng-template kendoGridToolbarTemplate position="top">
            <div class="pkg-manager-grid__action-container">
                <button (click)="onClick()" class="pkg-manager-grid__action">
                    <i class="ndd-font ndd-font-create pkg-manager-grid__action__icon"></i>
                    <span class="pkg-manager-grid__action__description">Nova Nota Fiscal</span>
                </button>
                <button (click)="deleteInvoice()" class="pkg-manager-grid__action" [disabled]="!selectedRows.length">
                    <i class="ndd-font ndd-font-delete pkg-manager-grid__action__icon"></i>
                    <span class="pkg-manager-grid__action__description">Remover</span>
                </button>
                <button (click)="redirectOpenInvoice()" class="pkg-manager-grid__action" [disabled]="selectedRows.length != 1">
                    <i class="ndd-font ndd-font-open pkg-manager-grid__action__icon"></i>
                    <span class="pkg-manager-grid__action__description">Abrir</span>
                </button>

            </div>
        </ng-template>
        <kendo-grid-checkbox-column width="20"></kendo-grid-checkbox-column>
        <kendo-grid-column field="id" title="ID" width="40"></kendo-grid-column>
        <kendo-grid-column field="entryDate" title="Date de entrada" width="40">
            <ng-template kendoGridCellTemplate let-envoice>
                <a href="javascript:void(0);" (click)="redirectOpenInvoiceLink(envoice)"> {{ envoice.entryDate | date:'dd/MM/yyyy hh:mm:ss' }}</a>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="natureOperation" title="Operação" width="75"></kendo-grid-column>
        <kendo-grid-column field="valueFreight" format="{0:c}" title="Valor do Frete" width="30"></kendo-grid-column>
        <kendo-grid-column field="conveyor" title="Transportadora" width="200">
            <ng-template kendoGridCellTemplate let-envoice>
                {{ envoice.conveyor.nameCompanyName }}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="receiver" title="Destinatário" width="200">
            <ng-template kendoGridCellTemplate let-envoice>
                {{ envoice.receiver.nameCompanyName }}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="emitter" title="Emitente" width="200">
            <ng-template kendoGridCellTemplate let-envoice>
                {{ envoice.emitter.companyName }}
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>