<div class="error-page">
    <div class="error-page__content">
        <div>
            <h1 class="error-page__title">404</h1>
        </div>
        <div>
            <h2 class="error-page__description">{{ 'NDDPageNotFound' | nddTranslation }}</h2>
        </div>
        <div>
            <p>{{ 'NDDPageNotFoundDescription' | nddTranslation }}</p>
        </div>
        <div>
            <button class="ndd-ng-button ndd-ng-button--primary" [routerLink]="['/']">{{ 'NDDGoBackToHome' | nddTranslation }}</button>
        </div>
    </div>
</div>
