<ndd-ng-titlebar titlebarIcon="ndd-font ndd-font-cardboard-box" [titlebarTitle]="title">
</ndd-ng-titlebar>
<ndd-conveyor-form [formModel]="form"></ndd-conveyor-form>
<div class="feature-view-tab__footer">
    <button class="ndd-ng-button ndd-ng-button--primary" (click)="onCreate()" [disabled]="form.invalid">Salvar</button>
    <button class="ndd-ng-button ndd-ng-button--cancel" (click)="redirect()">Fechar</button>
</div>
<div class="ndd-ng-spinner__spinner" *ngIf="isLoading"></div>
<div class="ndd-ng-spinner__color" *ngIf="isLoading"></div>