<kendo-grid
      [style.height]="'100%'"
      [data]="gridService | async"
      [pageSize]="state.take"
      [skip]="state.skip"
      [sort]="state.sort"
      [sortable]="true"
      [pageable]="true"
      [scrollable]="'none'"
      [loading]="gridService.loading"
      (dataStateChange)="dataStateChange($event)"
      (selectionChange)="onSelectionChange($event)"
      [selectable]="selectableSettings">
          
          

      <ng-template kendoGridToolbarTemplate position="top">
          <div class="pkg-manager-grid__action-container">
              <button (click)="redirectAddProduct()" class="pkg-manager-grid__action">
                  <i class="ndd-font ndd-font-create pkg-manager-grid__action__icon"></i>
                  <span class="pkg-manager-grid__action__description">Novo Produto</span>
               </button>
               <button (click)="deleteProduct()" class="pkg-manager-grid__action"
                   [disabled]="!selectedRows.length">
                  <i class="ndd-font ndd-font-delete pkg-manager-grid__action__icon"></i>
                  <span class="pkg-manager-grid__action__description">Remover</span>
               </button>
               <button (click)="redirectOpenProduct()" class="pkg-manager-grid__action"
                       [disabled]="selectedRows.length != 1">
                       <i class="ndd-font ndd-font-open pkg-manager-grid__action__icon"></i>
                       <span class="pkg-manager-grid__action__description">Abrir</span>
               </button>
          </div>
      </ng-template>

    <kendo-grid-checkbox-column width="40"></kendo-grid-checkbox-column>
    <kendo-grid-column field="id" title="ID" width="100"></kendo-grid-column>
    <kendo-grid-column field="name" title="Name" width="100"></kendo-grid-column>
    <kendo-grid-column field="sale" title="Sale" width="100"></kendo-grid-column>
    <kendo-grid-column field="expense" title="Expense" width="100"></kendo-grid-column>
    <kendo-grid-column field="isAvailable" title="IsAvailable" width="100"></kendo-grid-column>
    <kendo-grid-column field="manufacture" title="Manufacture" width="100"></kendo-grid-column>
    <kendo-grid-column field="expiration" title="Expiration" width="100"></kendo-grid-column>
   
</kendo-grid>