<div class="login__form-content">
    <form [formGroup]="formRequestPass" novalidate>
        <h1 class="login__form-title">{{ 'NDDRequestPassword' | nddTranslation }}</h1>
        <ndd-ng-input controlId="login-input-company" 
                    formControlName="dealerName" 
                    [placeholder]="'NDDDealer' | nddTranslation"
                    nddInputTrimmer>
        </ndd-ng-input>
        <ndd-ng-input controlId="login-input-username" 
                formControlName="userEmail" 
                type="email"
                [placeholder]="'NDDEmail' | nddTranslation"
                nddInputTrimmer>
            <span *ngIf="formRequestPass.controls.userEmail.errors?.emailFormat">E-mail em formato incorreto</span>
        </ndd-ng-input>
    </form>
    <div class="login__form-buttons-wrapper">
        <ndd-ng-button buttonId="request-password-button-back" [buttonText]="'NDDReturn' | nddTranslation" [buttonStyleType]="3"
            (onButtonClick)="navigateToLogin()">
        </ndd-ng-button>
        <br/>
        <br/>
        <ndd-ng-button class="login__form-button--right" *ngIf="!isLoading" buttonId="request-password-button-submit" buttonType="submit"
            [buttonForm]="form" [buttonText]="'NDDSubmit' | nddTranslation" [buttonStyleType]="1" (onButtonClick)="onSubmit()">
        </ndd-ng-button>
        <button class="ndd-ng-button__btn ndd-ng-button__btn--primary login__form-button--right" [ngClass]="{ 'login__form-button--loading': isLoading }"
            *ngIf="isLoading" type="button" disabled>
        </button>
    </div>
</div>