$user-menu-background-color: $ndd-ng-theme-primary-color;
$user-menu-color: #fff;
$user-menu-header-height: rem-calc(150px);
$user-menu-bg-color-btn-hover: #0e6ca5;

$user-menu-content-background-color: $ndd-ng-theme-primary-color;
$user-menu-content-color: #fff;
