<ngx-loading-bar></ngx-loading-bar>
<ndd-ng-navbar navbarLogoClass="ndd-ng-navbar__brand-image" (onNavbarToggle)="toggleSidebar()">
</ndd-ng-navbar>

<ndd-ng-sidebar [sidebarHeader]="false" [sidebarI18n]="true" (onSidebarPin)="setPin($event)">
    <div ndd-ng-sidebar-menu class="ndd-ng-sidebar-menu">
        <ndd-ng-sidebar-option
            optionId="menu-emitters"
            optionHref="/emitters"
            optionText="Emitentes"
            optionIcon="ndd-font ndd-font-emitter">
         </ndd-ng-sidebar-option>
         <ndd-ng-sidebar-option
         optionId="menu-conveyor"
         optionHref="/conveyors"
         optionText="Transportadores"
         optionIcon="ndd-font ndd-font-truck">
      </ndd-ng-sidebar-option>
      <ndd-ng-sidebar-option
         optionId="menu-product"
         optionHref="/products"
         optionText="Produtos"
         optionIcon="ndd-font ndd-font-cardboard-box">
      </ndd-ng-sidebar-option>
      <ndd-ng-sidebar-option
         optionId="menu-receiver"
         optionHref="/receivers"
         optionText="Destinatários"
         optionIcon="ndd-font ndd-font-receiver">
      </ndd-ng-sidebar-option>
      <ndd-ng-sidebar-option
         optionId="menu-Invoice"
         optionHref="/invoices"
         optionText="Notas Fiscais"
         optionIcon="ndd-font ndd-font-barcode">
      </ndd-ng-sidebar-option>
    </div>
</ndd-ng-sidebar>

<div class="content" [ngClass]="{'content--ndd-sidebar-pinned': pinned}">
    <router-outlet></router-outlet>
</div>
