<div class="feature-view-tab__content">
    <div class="row">
        <!-- #region Coluna 1 -->
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <span class="feature-view__title">Informações do pedido</span>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Cliente</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ order?.customer }}" class="feature-view__value"> {{ order?.customer }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <span class="feature-view__label">Total</span>
                            </div>
                            <div class="truncate">
                                <span title="{{availabilityText}}" class="feature-view__value"> {{ order?.total | currency
                                    : "BRL" }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region Coluna 2 -->
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <span class="feature-view__title">Produto</span>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Id</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ order?.productId }}" class="feature-view__value"> {{ order?.productId }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Produto</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ order?.productName }}" class="feature-view__value"> {{ order?.productName }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--#endregion-->
        </div>
    </div>
    <div class="feature-view-tab__footer">
        <button class="ndd-ng-button ndd-ng-button--primary" (click)="onEdit()">Editar</button>
        <button class="ndd-ng-button ndd-ng-button--cancel" (click)="redirect()">Fechar</button>
    </div>
    <div class="ndd-ng-spinner__spinner" *ngIf="isLoading"></div>
    <div class="ndd-ng-spinner__color" *ngIf="isLoading"></div>