<form class="form" class="feature-view-tab feature-form" [formGroup]="formModel">
    <div class="feature-view-tab__content">
        <div class="row">
            <div class="col-sm-12">
                <span class="feature-view__title">Informações do produto</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="row ">
                    <div class="form-group col-md-6">
                        <label class="form__label" for="code">
                             Código
                        </label>
                        <input formControlName="code" class="form__input" type="text" id="code" placeholder="Digite o codigo do produto" />
                        <label class="form__label form__label--required"></label>
                        <label class="form__label form__label--error" *ngIf="formModel.get('code').hasError('required') && formModel.get('code').touched">
                            Campo obrigatório
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="form__label" for="description">
                             Descrição
                        </label>
                        <input formControlName="description" class="form__input" type="text" id="description" placeholder="Digite a descrição do produto">
                        <span class="form__label form__label--required"></span>
                        <label *ngIf="formModel.get('description').touched">
                            <label class="form__label form__label--error" *ngIf="formModel.get('description').hasError('required')">
                                Campo obrigatório
                            </label>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="form__label" for="unitaryValue">
                             Valor Unitário
                        </label>
                        <input formControlName="unitaryValue" class="form__input" type="text" id="unitaryValue" placeholder="Digite o valor Unitário">
                        <span class="form__label form__label--required"></span>
                        <span class="form__label form__label--error" *ngIf="formModel.get('unitaryValue').errors && formModel.get('unitaryValue').touched">
                            <span *ngIf="formModel.get('unitaryValue').hasError('required')">
                                Campo obrigatório
                            </span>
                        </span>
                        <span class="form__label form__label--error" *ngIf="formModel.get('unitaryValue').hasError('valueEmpty') && !formModel.get('unitaryValue').hasError('required')">
                            O valor não pode ser 0 ou negativo
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>